# Created by venv; see https://docs.python.org/3/library/venv.html
venv/
env/
ENV/
media/
template/

staticfiles/
.env
secret.json
*.ini


*.pyc
*.sqlite3
*.log

.vscode/

htmlcov/
.coverage


# Byte-compiled
__pycache__/
*.py[cod]

# Translations
locale/*/LC_MESSAGES/*.mo